form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 2rem;
}

input[type="text"],
textarea {
    padding: 1rem;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%;
}

input[type="submit"] {
    padding: 1rem;
    font-size: 1rem;
    background-color: #2e7d32;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #1b5e20;
}